services:
  redis-warehouse:
    image: redis:6.2.6
    container_name: redis-warehouse
    ports:
      - "6382:6382"
    command:
      - "redis-server"
      - "--port"
      - "6382"
      - "--client-output-buffer-limit"
      - "pubsub"
      - "256mb"
      - "64mb"
      - "30"
      - "--maxclients"
      - "10000"
    volumes:
      - redis-warehouse-data:/data
    networks:
      - redis-net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 3G

  redis-auth:
    image: redis:6.2.6
    container_name: redis-auth
    ports:
      - "6383:6383"
    command:
      - "redis-server"
      - "--port"
      - "6383"
      - "--proto-max-bulk-len"
      - "1024000000" # 1GB
      - "--client-output-buffer-limit"
      - "pubsub"
      - "256mb"
      - "64mb"
      - "30"
      - "--maxclients"
      - "10000"
    volumes:
      - redis-auth-data:/data
    networks:
      - redis-net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 1G

  redis-production:
    image: redis:6.2.6
    container_name: redis-production
    ports:
      - "6384:6384"
    command:
      - "redis-server"
      - "--port"
      - "6384"
      - "--client-output-buffer-limit"
      - "pubsub"
      - "256mb"
      - "64mb"
      - "30"
    volumes:
      - redis-production-data:/data
    networks:
      - redis-net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 2G

  redis-qc:
    image: redis:6.2.6
    container_name: redis-qc
    ports:
      - "6386:6386"
    command:
      - "redis-server"
      - "--port"
      - "6386"
      - "--client-output-buffer-limit"
      - "pubsub"
      - "256mb"
      - "64mb"
      - "30"
    volumes:
      - redis-qc-data:/data
    networks:
      - redis-net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 2G

  redis-purchase:
    image: redis:6.2.6
    container_name: redis-purchase
    ports:
      - "6385:6385"
    command:
      - "redis-server"
      - "--port"
      - "6385"
      - "--client-output-buffer-limit"
      - "pubsub"
      - "256mb"
      - "64mb"
      - "30"
    volumes:
      - redis-purchase-data:/data
    networks:
      - redis-net
    restart: always
    deploy:
      resources:
        limits:
          cpus: '2.00'
          memory: 2G

volumes:
  redis-warehouse-data:
  redis-auth-data:
  redis-production-data:
  redis-purchase-data:
  redis-qc-data:


networks:
  redis-net:
    driver: bridge